<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><strong class="head-title">TS-Creator</strong><sub class="sub-title"> - earth history charts</sub></a>
		</div>
	</div>
</div>
<br>
<div class="container well">
	<form class="form-horizontal" method="post" action="/admin/authenticate">
		<div class="control-group">
			<h3>Admin Login</h3>
		</div>
		<div class="control-group">
			<label class="control-label">User</label>
			<div class="controls">
				<input type="text" placeholder="User" name="user">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="Password" name="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Sign in</button>
			</div>
		</div>
	</form>
</div>