	<div class="button-toolbar">
		<div class="btn-group">
			<a href="#myModal" role="button" class="btn pull-right" data-toggle="modal">admin</a>
			<a href="/admin/logout" role="button" class="btn btn-primary pull-left" data-toggle="modal">logout</a>
		</div>
		<span>
			<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/save" >
			
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Edit Datapack Settings and Preferences</h3>
					</div>
					<div class="modal-body">
						<div class="control-group">
							<label class="control-label" >Settings Id</label>
							<div class="controls">
								<input type="text" class="input-large" value="<%= id %>" name="settings_id" readonly>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Datapack Name</label>
							<div class="controls">
								<% var default_name = (datapack_id in default_datapacks) ? default_datapacks[datapack_id].name : "null"; %>
								<% if (datapack_id == null || default_name == null || default_name == "") { %>
									<input type="text" class="input-large" placeholder="Name of the datapack." name="datapack_name" required>
								<% } else { %>
									<input type="text" class="input-large" placeholder="Name of the datapack." name="datapack_name" value="<%= default_name %>" required>
								<% } %>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">Datapack Image</label>
							<div class="controls">
								<% var default_image = (datapack_id in default_datapacks) ? default_datapacks[datapack_id].image : "null"; %>
								<% if (datapack_id != null && default_image != null && default_image != "") { %>
									<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/<%= default_image %>">
								<% } %>
								<input type="file" name="datapack_image" accept=".jpg, .jpeg, .png, .gif" size="10"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Description</label>
							<div class="controls">
								<% var default_description = (datapack_id in default_datapacks) ? default_datapacks[datapack_id].description : "null"; %>
								<% if (datapack_id == null || default_description == null || default_description == "") { %>
									<textarea rows="3" name="description"></textarea>
								<% } else { %> 
									<textarea rows="3" name="description"><%= default_description %></textarea>
								<% } %>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" name="make_visible" checked> Make this datapack visible to public.
								</label>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" name="remove_datapack"> Remove from the default list.
								</label>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary" type="submit">Save changes</button>
					</div>
				</div>
			</form>
		</span>
	</div>