<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><strong class="head-title">TS-Creator</strong><sub class="sub-title"> - earth history charts</sub></a>
			<ul class="nav pull-right">
				<li>
					<%- partial('uploadform.ejs') %>
				</li>
				<li>
					<div class="button-toolbar">
						<div class="btn-group">
							<a href="#" class="zin btn btn-small"><i class="icon-zoom-in"></i></a>
							<a href="#" class="zout btn btn-small"><i class="icon-zoom-out"></i></a>
							<a href="#" class="z100 btn btn-small"><i class="icon-resize-full"></i></a>
							<a href="#" class="zfit btn btn-small"><i class="icon-fullscreen"></i></a>
							<a href="#" class="showline btn btn-small"><i class="icon-minus"></i></a>
							<a href="#" class="showchart btn btn-small" link="/tsc?id=<%= id %>"><i class="icon-share"></i></a>
							<a href="#" class="generate-btn btn btn-primary btn-large" id="generate-link">generate</a>
						</div>	
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<br>
<div class="cont">
	<div class="well sidebar-nav pull-left spanA">
		<form method="post" action="/send" id="settings-form">
			<h3 class="text-center label label-warning">Choose Time-Interval</h3>
			<div class="settings">
				<br />
				<input type="hidden" name="settings_id" value="<%= id %>">
				<div id="timeinterval" settings='<%= id %>'>
				</div>
			</div>
			<h3 class="text-center label label-warning">Choose Columns</h3>
			<div class="settings">
				<br />
				<div id="columnsettings" settings='<%= id %>'></div>
			</div>
			<hr>
			<div class="generate" align="center">
				<button type="submit" name="submit"  class="generate-btn btn btn-primary btn-large" id="generate">generate</button>
				<!-- <input type="submit" name="submit" value="generate" class="btn btn-primary btn-large" id="generate"/> -->
			</div>
		</form>
	</div>
	<!-- 
	<div id="progress" title="Basic dialog">
		<div id="progressbar"><div class="progress-label">Loading...</div></div>
	</div> -->
	<div class="well spanB">
		<div id="chart-alerts"></div>
		<% if (is_admin)  { %>
			<%- partial('adminform.ejs') %>
		<% } %>
		<h3 class="text-center label label-warning chart-label">Chart</h3>
		<br>
		<% var url = "./images/svg/" + id + ".svg" %>
		<div id="chartObject" class="clearfix" chart="<%= id %>"><object data="<%= url %>" id="SVGobject" type="image/svg+xml"/></object></div>
	</div>
</div>


<div class="modal hide fade" id="chart-progress" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Chart status</h3>
  </div>
  <div class="modal-body" id="chart-progress-body">
  	<div id="chart-status-messages"></div>
  	<div id="chart-progress-bar-body">
	  	<div id="progress-message"></div>
	  	<div class="progress progress-striped active">
		  <div class="bar" style="width: 0%;" id="chart-progress-bar"></div>
		</div>
  	</div>
  </div>
  <div class="modal-footer"></div>
</div>