<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><strong class="head-title">TS-Creator</strong><sub class="sub-title"> - earth history charts</sub></a>
			<ul class="nav pull-right">
				<li>
					<%- partial('uploadform.ejs') %>
				</li>
			</ul>
		</div>
	</div>
</div>
<br>
<div class="cont container well">
	<div class="heading">
		<p style="text-shadow:-4px 2px 0 rgba(255,255,255,1);font-weight:normal;color:#227814;letter-spacing:1pt;word-spacing:2pt;font-size:26px;text-align:left;font-family:verdana, sans-serif;line-height:1;">Choose the chart of your choice and get access to the wealth of information about the earth's history.</p>
	</div>
	<ul class="thumbnails" id="default_datapacks_image_links">
		<% for (var datapack in default_datapacks) { %>
			<% if (default_datapacks[datapack].image != null && default_datapacks[datapack].image != "") { %>
				<li>
					<a href="#" class="thumbnail chart-link thumb" file="<%= default_datapacks[datapack].file %>">
						<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/<%= default_datapacks[datapack].image %>">
						<hr/><em><%= default_datapacks[datapack].name %></em>
					</a>
				</li>
			 <% } %>
		<% } %>
		<!-- <li>
			<a href="#" class="thumbnail chart-link thumb" file="Arctic and Central Canada GTS2012 Public.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/arcticcanada.jpg">
				<hr/><em>Arctic & Central Canada</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="ArcticSea_AlaskaHydrocarbonBasins_Public_GTS2012.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/alaskaoil.jpg">
				<hr/><em>Alaska oil basins</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="Aust_GTS2012_PUBLIC_Bio_Lith_MAPPACK_1Jan13.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/australia.jpg">
				<hr/><em>Australia</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="Belgium_GTS2012_encrypted.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/brussels_grand_palace.jpg">
				<hr/><em>Belgium</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="BritishMappack_11Dec12.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/britishisles.jpg">
				<hr/><em>British Isles</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="CalcareousNannos_wImages.dpk">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/nanofossils.gif">
				<hr/><em>Calcareous Nannofossils</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="China_GTS2012_Bio_Lith_2Jan13_EncryptedMappack.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/china_2924_600x450.jpg">
				<hr/><em>China</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="GulfMexico_Bio_Lith_GTS2012_Encrypted_2Jan13.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/gulfofmexico.jpg">
				<hr/><em>Gulf of Mexico</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="Humanoid with Images.zip">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/humanevolution.jpg">
				<hr/><em>Human Evolution</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="IndianPlate_Encrypted_2Dec12.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/indianplate.jpg">
				<hr/><em>Indian Plate</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="MarineGenera_Encrypted_13Jan13.txt">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/marinegenera.jpg">
				<hr/><em>Marine Genera Ranges</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="MidEast_GTS2012_Encrypted_2Dec12.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/libya.jpg">
				<hr/><em>Middle East and Libya</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="NZ_GTS2012_Bio_Lith_Transects_Reconstuctions_PublicMappack_1Jan2013.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/newzealand.jpg">
				<hr/><em>New Zealand</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="PaleogeneForamsEvol_GTS2012_Public_10Jan13.dpk">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/planktonicforam.jpg">
				<hr/><em>Planktonic Foraminifer</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="Past_10000years_10Mar2011.txt">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/10000years.jpg">
				<hr/><em>Past 10000 years</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="Russia_Phanerozoic_Biostratigraphy_ENCRYPTED_GTS2012_11Jan13.txt">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/russia.jpg">
				<hr/><em>Russia</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="Siberian_Caspian_HydrocarbonBasins_Public_11Feb2013.map">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/siberian.jpg">
				<hr/><em>Siberian & Caspian hc ..</em>
			</a>
		</li>
		<li>
			<a href="#" class="thumbnail chart-link thumb" file="VertebrateEvolution_GTS2012_27Feb2013.dpk">
				<img data-src="holder.js/160x120" alt="160x120" style="width: 160px; height: 120px;" src="/images/tsc/vertibratesevolution.jpg">
				<hr/><em>Vertibrates Evolution</em>
			</a>
		</li> -->
	</ul>
</div>

<div class="modal hide fade" id="chart-progress" data-backdrop="static">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Chart status</h3>
	</div>
	<div class="modal-body" id="chart-progress-body">
		<div id="chart-status-messages"></div>
		<div id="chart-progress-bar-body">
			<div id="progress-message"></div>
			<div class="progress progress-striped active">
			<div class="bar" style="width: 0%;" id="chart-progress-bar"></div>
		</div>
		</div>
	</div>
	<div class="modal-footer"></div>
</div>
<div id="footer">
	<div class="container">
		<p class="muted credit">TimeScale Creator (TSCreator) is Copyright © 2005-2012 Geologic TimeScale Foundation. All rights reserved.</p>
	</div>
</div>