<!DOCTYPE html>
<% //var path = "./manifest/manifest" + id + ".appcache" %>
<html>
	<head>
		<title><%= title %></title>
		<% if (!(typeof scripts === 'undefined')) { %>
			<% for (var i=0; i<scripts.length; i++) { %>
				<script type="text/javascript" src="<%= scripts[i] %>"></script>
			<% } %>
		<% } %>
		<% if (!(typeof stylesheets === 'undefined')) { %>
			<% for (var i=0; i<stylesheets.length; i++) { %>
				<link rel='stylesheet' href='<%= stylesheets[i] %>' />
			<% } %>
		<% } %>
	</head>
	<body>
		<%- body %>
	</body>
</html>