<div class="container">
    <h1>Offshore Norway zonations with microfossil images</h1>
    <hr/>
	<div><span class="label label-important">Chart Settings</span></div>
	<br />
	<form method="post" action="/send">
		<input type="hidden" name="settings_id" value="<%= id %>">
		<div id="timeinterval" settings='<%= id %>'>
		</div>
		<br />
		<div  align="center">
			<input type="submit" name="submit" value="generate" class="btn btn-primary btn-large" id="generate"/>
		</div>
		<hr/>
		<div><span class="label label-important">Column Settings</span></div>
		<br />
		<div id="columnsettings" settings='<%= id %>'></div>
		<hr />
	</form>
</div>
<br/>
<div id="chart_label"><span class="label label-important">Chart</span></div>
<br>

<br>
<div id="chartFrame" settings ='<%= id %>'>
	<img src="./images/loading.gif" alt="Please wait for the chart to load.">
</div>
