<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><strong class="head-title">TS-Creator</strong><sub class="sub-title"> - earth history charts</sub></a>
			<ul class="nav pull-right">
				<li>
					<%- partial('uploadform.ejs') %>
				</li>
				<li>
					<div class="button-toolbar">
						<div class="btn-group">
							<a href="#" class="zin btn btn-small"><i class="icon-zoom-in"></i></a>
							<a href="#" class="zout btn btn-small"><i class="icon-zoom-out"></i></a>
							<a href="#" class="z100 btn btn-small"><i class="icon-resize-full"></i></a>
							<a href="#" class="zfit btn btn-small"><i class="icon-fullscreen"></i></a>
							<a href="#" class="showline btn btn-small"><i class="icon-minus"></i></a>
							<a href="#" class="showchart btn btn-small" link="/tsc?id=<%= id %>"><i class="icon-share"></i></a>
							<a href="#" class="generate-btn btn btn-primary btn-large" id="generate-link">generate</a>
						</div>	
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<hr>
<div class="well span">
	<h3 class="text-center label label-warning">Chart</h3>
	<br>
	<div id="chartObject" class="clearfix"><object data="<%= chart %>" id="SVGobject" type="image/svg+xml"/></object></div>
</div>