<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
		<ul class="nav">
    		<li class="active"><a href="/">back</a></li>
    		<h3>Offshore Norway zonations with microfossil images</h3>
    	</ul>
  </div>
</div>
<hr />
<div id="chartObject" file='<%= svgChart %>'></div>