<form method="post" enctype="multipart/form-data" action="/settings" class="navbar-form" id="datapack-form">
	<div class="btn-group input-append pull-left">
		<input type="text" name="default-datapack" placeholder="Accepted file types (txt, zip, dpk, map)" class="pull-left" required>
		<a class="list-btn btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-th-list icon-white"></i></a>
		<ul class="dropdown-menu" id="default_datapacks_dropdown_list">
			<% for (var datapack in default_datapacks) { %>
			<li><a href="#" class="select-file" file="<%= default_datapacks[datapack].file %>" data-toggle="tooltip" title="<%= default_datapacks[datapack].description %>"><i class="icon-file"></i><%= default_datapacks[datapack].name %></a></li>
		    <% } %>
		    <li><a href="#" class="upload-file"><i class="icon-folder-open"></i> <input type="file" name="datapack" accept=".txt, .zip, .dpk, .map" size="10"/></a></li>
		</ul>
	</div>
	<button type="submit" name="submit" class="load-btn btn btn-primary pull-right">load</button>
</form>