	
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<h3>Offshore Norway zonations with microfossil images</h3> <em>TimeScale Creator - Dept. of Earth Atmospheric and Planetary Science, Purdue University</em>
	</div>
</div>
<hr/>
<div class="container">
	<div id="upload-form" align="center">
		<form method="post" enctype="multipart/form-data" action="/settings">
			<div><span class="label label-important">Upload Your Own Datapack</span></div>
			<br />
			<div><input type="file" name="datapack" style="display:none" accept=".txt, .zip" placeholder="*.txt, *.zip, *.dpk"/></div>
			<div>
				<small>
					<em>* Acceptable datapack formats include: TEXT and ZIP.</em>
				</small>
			</div>
			<hr />
			<div><span class="label label-important">Choose from Our's</span></div>
			<br />
			<div>
				<select name="default-datapack">
					<!-- <option value="Astron_250myr_Insol_100myr_Mar10.txt">
						Astronomical Cycles 250myr
					</option>
					<option value="Humanoid with Images.zip">
						Human Evolution
					</option>
					<option value="Neogene_Oxy18_HighRes_Apr09.txt">
						Neogene Oxygen-18
					</option> -->
					<option value="NORLEX_biostrat_14Feb2013.zip">Offshore Norway</option>
					<!-- <option value="Past_10000years_10Mar2011.txt">
						Past 10,000 Years
					</option> -->
				</select>
			</div>
			<div style="text-align: center">
				<input type="submit" name="submit" value="Load" class="btn btn-primary btn-large"/>
			</div>
		</form>
	</div>
</div>
