@import "bootstrap.less";
// Padding for fixed-navbar
body {
  padding-top: 20px;
  padding-bottom: 10px;
}
@import "responsive.less";
@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";